In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('PCC.individual.project.data.csv')
data = data.loc[data['STUDYID'] == 'ASC']

In [4]:
data.shape

(0, 105)

In [5]:
data

Empty DataFrame
Columns: [STUDYID, RPT, time, death, BMI, HEIGHTBL, WEIGHTBL, ALP, ALT, AST, CA, CREAT, HB, LDH, NEU, PLT, PSA, TBILI, TESTO, WBC, CREACL, NA., MG, PHOS, ALB, TPRO, RBC, LYM, BUN, CCRC, GLU, SYSTOLICBP, DIASTOLICBP, PULSE, HEMAT, SPEGRA, LYMperLEU, MONO, MONOperLEU, NEUperLEU, POT, BASOperLEU, EOS, EOSperLEU, TARGET, LYMPH_NODES, KIDNEYS, LUNGS, LIVER, PLEURA, OTHER, PROSTATE, ORCHIDECTOMY, PROSTATECTOMY, LYMPHADENECTOMY, BILATERAL_ORCHIDECTOMY, PRIOR_RADIOTHERAPY, ANALGESICS, ANTI_ANDROGENS, GLUCOCORTICOID, GONADOTROPIN, BISPHOSPHONATE, CORTICOSTEROID, IMIDAZOLE, ACE_INHIBITORS, BETA_BLOCKING, HMG_COA_REDUCT, ESTROGENS, ANTI_ESTROGENS, CEREBACC, CHF, DVT, DIAB, MI, PULMEMB, SPINCOMP, COPD, MHBLOOD, MHCARD, MHCONGEN, MHEAR, MHENDO, MHGASTRO, MHHEPATO, MHIMMUNE, MHINFECT, MHINJURY, MHINVEST, MHMETAB, MHPSYCH, MHRENAL, MHRESP, MHSKIN, MHVASC, ECOG_C, AGEGRP2, RaceAsian, RaceBlack, RaceOther, RaceWhite, ...]
Index: []

[0 rows x 105 columns]

In [6]:
data.groupby('AGEGRP2').count()

Empty DataFrame
Columns: [STUDYID, RPT, time, death, BMI, HEIGHTBL, WEIGHTBL, ALP, ALT, AST, CA, CREAT, HB, LDH, NEU, PLT, PSA, TBILI, TESTO, WBC, CREACL, NA., MG, PHOS, ALB, TPRO, RBC, LYM, BUN, CCRC, GLU, SYSTOLICBP, DIASTOLICBP, PULSE, HEMAT, SPEGRA, LYMperLEU, MONO, MONOperLEU, NEUperLEU, POT, BASOperLEU, EOS, EOSperLEU, TARGET, LYMPH_NODES, KIDNEYS, LUNGS, LIVER, PLEURA, OTHER, PROSTATE, ORCHIDECTOMY, PROSTATECTOMY, LYMPHADENECTOMY, BILATERAL_ORCHIDECTOMY, PRIOR_RADIOTHERAPY, ANALGESICS, ANTI_ANDROGENS, GLUCOCORTICOID, GONADOTROPIN, BISPHOSPHONATE, CORTICOSTEROID, IMIDAZOLE, ACE_INHIBITORS, BETA_BLOCKING, HMG_COA_REDUCT, ESTROGENS, ANTI_ESTROGENS, CEREBACC, CHF, DVT, DIAB, MI, PULMEMB, SPINCOMP, COPD, MHBLOOD, MHCARD, MHCONGEN, MHEAR, MHENDO, MHGASTRO, MHHEPATO, MHIMMUNE, MHINFECT, MHINJURY, MHINVEST, MHMETAB, MHPSYCH, MHRENAL, MHRESP, MHSKIN, MHVASC, ECOG_C, RaceAsian, RaceBlack, RaceOther, RaceWhite, RegionAsia, ...]
Index: []

[0 rows x 104 columns]

In [7]:
data.describe()

,time,death,BMI,HEIGHTBL,WEIGHTBL,ALP,ALT,AST,CA,CREAT,...,AGEGRP2,RaceAsian,RaceBlack,RaceOther,RaceWhite,RegionAsia,RegionEastEuro,RegionNorthAmer,RegionSouthAmer,RegionWestEuro
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.groupby('ECOG_C').count()

Empty DataFrame
Columns: [STUDYID, RPT, time, death, BMI, HEIGHTBL, WEIGHTBL, ALP, ALT, AST, CA, CREAT, HB, LDH, NEU, PLT, PSA, TBILI, TESTO, WBC, CREACL, NA., MG, PHOS, ALB, TPRO, RBC, LYM, BUN, CCRC, GLU, SYSTOLICBP, DIASTOLICBP, PULSE, HEMAT, SPEGRA, LYMperLEU, MONO, MONOperLEU, NEUperLEU, POT, BASOperLEU, EOS, EOSperLEU, TARGET, LYMPH_NODES, KIDNEYS, LUNGS, LIVER, PLEURA, OTHER, PROSTATE, ORCHIDECTOMY, PROSTATECTOMY, LYMPHADENECTOMY, BILATERAL_ORCHIDECTOMY, PRIOR_RADIOTHERAPY, ANALGESICS, ANTI_ANDROGENS, GLUCOCORTICOID, GONADOTROPIN, BISPHOSPHONATE, CORTICOSTEROID, IMIDAZOLE, ACE_INHIBITORS, BETA_BLOCKING, HMG_COA_REDUCT, ESTROGENS, ANTI_ESTROGENS, CEREBACC, CHF, DVT, DIAB, MI, PULMEMB, SPINCOMP, COPD, MHBLOOD, MHCARD, MHCONGEN, MHEAR, MHENDO, MHGASTRO, MHHEPATO, MHIMMUNE, MHINFECT, MHINJURY, MHINVEST, MHMETAB, MHPSYCH, MHRENAL, MHRESP, MHSKIN, MHVASC, AGEGRP2, RaceAsian, RaceBlack, RaceOther, RaceWhite, RegionAsia, ...]
Index: []

[0 rows x 104 columns]